<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from html.cwsthemes.com/ingenious/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jul 2023 03:34:07 GMT -->
<head>
<meta charset="utf-8">
<title>Ingenious | Just another HTML Template | Home Page 01</title>

<!-- Stylesheets -->
<link href="/Public/user/css/bootstrap.css" rel="stylesheet">
<link href="/Public/user/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="/Public/user/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="/Public/user/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->

<link href="/Public/user/css/style.css" rel="stylesheet">
<link href="/Public/user/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/Public/user/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/Public/user/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

<%- include('../partials/user_header.ejs') %>


 <!--Page Title-->
 <section class="page-title">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg" style="background-image: url(/Public/user/images/background/37.jpg)">
            <div class="cws-overlay-bg"></div>
        </div>
    </div>

    <div class="auto-container">
        <h1>Services</h1>
        <ul class="page-breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li>Services</li>
        </ul>
    </div>
</section>
<!--End Page Title-->

<!-- Portfolio Single -->
<section class="portfolio-single-section">
    <!-- <h3>Economy Strategy</h3> -->
    <div class="auto-container">
        <!-- <div class="gallery-images row mid-spacing">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="/Public/user/images/gallery/single-img-4.jpg" class="lightbox-image" data-fancybox='single-img'><img src="/Public/user/images/gallery/single-img-4.jpg" alt="" /></a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="/Public/user/images/gallery/single-img-5.jpg" class="lightbox-image" data-fancybox='single-img'><img src="/Public/user/images/gallery/single-img-5.jpg" alt="" /></a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <figure class="image">
                    <a href="Public/user/images/gallery/single-img-6.jpg" class="lightbox-image" data-fancybox='single-img'><img src="/Public/user/images/gallery/single-img-6.jpg" alt="" /></a>
                </figure>
            </div>
        </div> -->

        <div class="portfolio-single">
            <h3> <%=name %></h3>
            <!-- <span class="cat">Energy</span> -->
            <div class="gallery-images row mid-spacing">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <figure class="image">
                        <a href="/Public/user/images/gallery/single-img-4.jpg" class="lightbox-image" data-fancybox='single-img'><img src="/Public/user/images/gallery/single-img-4.jpg" alt="" /></a>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <figure class="image">
                        <a href="/Public/user/images/gallery/single-img-5.jpg" class="lightbox-image" data-fancybox='single-img'><img src="/Public/user/images/gallery/single-img-5.jpg" alt="" /></a>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <figure class="image">
                        <a href="Public/user/images/gallery/single-img-6.jpg" class="lightbox-image" data-fancybox='single-img'><img src="/Public/user/images/gallery/single-img-6.jpg" alt="" /></a>
                    </figure>
                </div>
            </div>
            <p><%=description%></p>
            <!-- <p>Metus diam at nulla morbi justo pede, lorem malesuada venenatis vestibulum vivamus lorem, a amet feugiat est nisl, mattis vel, non id arcu non in lacus. Pharetra in, dui ut risus nec magna luctus. Urna adipiscing cras adipiscing, massa voluptas qui, sed cupiditate donec auctor cursus quam, maecenas amet dui cras lorem commodo, a lorem vestibulum id ipsum duis vitae.</p> -->
            <!-- <ul class="list-style-three">
                <li>Lorem sagittis ligula tempor sed</li>
                <li>Tincidunt elit, nibh amet leo sed</li>
            </ul> -->
            <!-- <p>Tellus venenatis hymenaeos facilisi vestibulum suscipit leo. Vivamus eget diam, fusce quam rutrum consequat phasellus eget donec. Sem quam, non dolor, luctus diam, ipsum est, dictum erat venenatis nullam hymenaeos velit praesent. Lobortis in integer. Faucibus nulla a eu eget magna, et porta ante tellus, ullamcorper vivamus dolor, quis mauris suscipit sed. Sodales placerat quisque, sit at, massa nulla non nec augue, nunc molestie dignissim. Dui tempor nonummy justo eget, a risus ipsum. Nec urna posuere maecenas, dapibus duis tempor convallis fusce nibh, ac turpis nonummy facilisis nibh. Ultricies fusce sed, vestibulum turpis enim lacinia. Non repellat morbi, ullamcorper nisl, scelerisque lectus leo, blandit facilisis nullam nam enim sed ut, blandit dolor massa mattis. Rhoncus erat tristique leo, quisque porta dui tempor, eros eget. Eleifend curabitur in praesent tortor quam, primis turpis enim, est convallis porttitor, accumsan non diam mauris.</p> -->
        </div>

       
    </div>
</section>
<!-- End Portfolio Single -->

<%- include('../partials/user_footer.ejs') %>

</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-alt-up"></span></div>

<script src="/Public/user/js/jquery.js"></script> 
<script src="/Public/user/js/popper.min.js"></script>
<script src="/Public/user/js/bootstrap.min.js"></script>
<!--Revolution Slider-->
<script src="/Public/user/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/Public/user/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/Public/user/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/Public/user/js/main-slider-script.js"></script>
<!--Revolution Slider-->
<script src="/Public/user/js/jquery.fancybox.js"></script>
<script src="/Public/user/js/owl.js"></script>
<script src="/Public/user/js/wow.js"></script>
<script src="/Public/user/js/appear.js"></script>
<script src="/Public/user/js/script.js"></script>

</body>

<!-- Mirrored from html.cwsthemes.com/ingenious/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jul 2023 03:36:55 GMT -->
</html>